cm4-pcb/lib/sarcat.bak


cm4-pcb/cm4-pcb-backups/

cm4-pcb/#auto_saved_files#
cm4-pcb/~cm4-pcb.kicad_sch.lck
cm4-pcb/~cm4-pcb.kicad_pcb.lck

cm4-pcb/cm4-pcb.kicad_sch-bak
cm4-pcb/cm4-pcb.kicad_pcb-bak
cm4-pcb/fp-info-cache
